*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family:  'Roboto', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
}
:root{
    --primary-color:#3fd0d4;
    --header-text:#212121;
    --white-text-color: #fff;
    --white-background-color: #fff;
    --primary-font-family: 'Roboto', sans-serif;
    --special-font-family: Satisfy,cursive;
    --grey-dot-color: rgba(0,0,0,0.3);
    --fixed-header-height: 80px;
}